
<!--
<upperbar-status></upperbar-status>
-->
<div [class]="classToApply" id="upper_div">

    <div class="row">
        <div class="col-md-2" style="padding-left:0px;padding-right:0px">
            <side-panel></side-panel>
          </div>
          <div class="col-md-10" style="padding-left:0px">
            <map></map>
          </div>
        </div>
        <div style="background-color: black" class="row">
        <waypoints></waypoints>
      </div>
    </div>
    <div class="col-md-3" style="padding-right:0px;margin-left:-2.1em">
        <widget1></widget1>
      </div>
